

@import '../../../../assets/styles/abstructs/varibles';



.container {
  text-align: center;
  height: auto;
  padding: 3.5rem;
  border-radius: .5rem;
  background: rgba(40, 40, 43, 0.85);
  backdrop-filter: blur(2px);
  box-shadow: 0 .4rem 1.2rem rgba(black, 0.2);
  color: white;
  max-height: 100%;
  margin-bottom: 11rem;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .currency{
    display: inline-block;
    margin: 1rem;
  }
  .swap:hover {
    color: rgba(27, 177, 7, 0.4);
  }
  .btn[type="submit"] {
    width: 50%;
    justify-content: center; 
    margin-top  : .7rem;
  }    
  .btn {
    border-radius: $color-green;
    background-color: $color-green;
  }
  .detais{
    align-content: center;
    background: rgba($color-dark, 0.7);
    max-width: 50rem;
    min-height: 8rem;
    max-height: 20rem;
    margin:  auto;
    color: white;

  }

  .amount{
    width: 50%;
  }

  .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    select {
      width: calc(80% / 2);
    }
  }
}
















@media only screen and (max-width: 600px) {
  .add-bookmark-wrapper {
    // max-width: 70rem;
    // white-space: nowrap;
    
    padding: 1rem;
 
  }

  .detais{
    background: rgba(black, 0.7);
    max-width: 30rem;
    min-height: 10rem;
    max-height: 20rem;
    color: white;
  
  
  }
}


/////////

