<div class=" container  has-blurred-white-bg">
  <h2 class="is-bold">Currency Exchanger</h2>
  
  <form [formGroup]="convert" (ngSubmit)="conver(convert)">

      <div class="form-field">
        <input class="textbox amount" formControlName="amount" placeholder="amount" type="number" min="1">
      </div>

 
      <div class="flex">
        
          <select formControlName="from"   placeholder="from">
            <option hidden value="" disabled selected>From</option>
            <option  *ngFor="let item of symbols | keyvalue" [value]="item.key">{{item.key}}</option>
          </select>

     
          <a  (click)="swap()" class="swap">
            <svg style="width:34px;height:34px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" />
            </svg>
          </a>
    

          <select formControlName="to" >
            <option hidden value="" disabled selected>To</option>
            <option  *ngFor="let item of symbols | keyvalue" [value]="item.key">{{item.key}}</option>
          </select>
      </div>

      <div class="form-field">
        <button [disabled]="convert.invalid" type="submit" class="btn" >convert</button>
    </div>

  </form>
  <div class="form-field" *ngIf="details">
    <button class="btn"  (click)="navigate()">detais</button>

</div>
  <div class="detais" *ngIf="details">
   <div class="row">
     <h4>result: {{details?.result}}</h4>
 
   </div>
  </div>
</div>

