
.container {
  text-align: center;
}
.amount{

}
.currency{
display: inline-block;
margin: 1rem;
}

select{
  border-radius: 4px;
  width: 7rem;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
input {
  border-radius: .4rem;
  font-size: large;
  height: 3.5repx;
  width: 14rem;
  line-height: 38px;
  padding-left: 5px;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}


.swap {
  display: inline;
  color: rgb(10, 10, 10);
  width: 8rem;
  height: 8rem;
  margin: auto 2rem auto 2rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.button {
  width: 12rem ;
  height: 5rem;
  color: white;
  background-color: rgba($color: #000000, $alpha: .7);
  &a{
    text-decoration: none;

  }
}